body{
margin:0px;
}


.general{
width:100%;
background-color:grey;
margin:0px auto;
}

.generaltop{
width:60%;
background-color:#2a2a29;
height:100px;
margin:0px auto;
margin-bottom:10px;
background-image: url(img/insanlar.jpg);
}



.generaltopli{
height:10px;
background-color:#0a697d;
display:inline-block;
list-style-type:none;
font-size:14px;
float:right;
padding:5px 5px;
margin-top:5px;
margin-right:10px;
width:90px;
border-radius:50px;
}

.generaltopli:hover{

background-color:#2a2a29;

}



a{

text-decoration:none;
color:#d58b0a;

margin:10px;
}

.generalcenter{
width:60%;
background-color:#2a2a29;
height:600px;
margin:0px auto;
margin-bottom:10px;


}

.generalcenterleft{
width:20%;
height:600px;
float:left;
background-color:#2a2a29;

}

.generalcenter li{

padding:3px ;
display:inline-block;
list-style-type:none;
font-size:12px;

}

.generalcenter li:hover{

background-color:#2a2a29;

}

.generalmenu{
background-color:#0a697d;
width:70%;
height:410px;
margin-top:100px;
margin-left:10px;
border-radius:20px;

}


.generalcentercenter{
width:80%;
height:600px;
float:right;
background-color:#2a2a29;

}

.generalcenterbottom{

width:100%;
height:125px;
background-color:#2a2a29;
margin-right:50px;
}



h6{

font-size:20px;
width:100%;
height:70px;
margin-left:180px;
margin-top:20px;

}


.generalbottom{
width:60%;
background-color:#2a2a29;
height:100px;
margin:0px auto;

}



h1{


font-size:15px;
float:right;
margin-top:60px;
margin-right:20px;
}

h2{
color:#0a697d;
font-size:30px;
float:justify;
margin-left:180px;
}

h4{
color:#d58b0a;
font-size:20px;
float:justify;

}

h5{

color:#d58b0a;
font-size:50px;
float:justify;
margin-bottom:10px;


}


}

img{
border:1px dashed #055936;
width:80%;
height:250px;
margin-left:60px;
margin-top:30px;
}



.generalcenterbottomli{




border:1px solid #0a697d;

list-style-type:none;
display:inline-block;
}

